<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/8442ac50-7d52-4706-9c97-11d1c5d370b3/resourcegroups/ACRRessources/providers/Microsoft.Web/sites/WebSiteDockerLinux20190526010953</ResourceId>
    <ResourceGroup>ACRRessources</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://websitedockerlinux20190526010953.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/8442ac50-7d52-4706-9c97-11d1c5d370b3/resourceGroups/ACRRessources/providers/Microsoft.ContainerRegistry/registries/thomasrannou</ContainerResourceId>
    <ContainerResourceName>thomasrannou</ContainerResourceName>
    <Subscription>Visual Studio Enterprise</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://thomasrannou.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>19770779-3847-4b4e-86bd-33b500941731</ProjectGuid>
  </PropertyGroup>
</Project>